.container {
  max-width: 100%;
}

.home-body {
  background-image: url('./css/graphic-map.jpg');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  max-width: 100%;
  width: 100%;
}
